<a href="/source">Sources</a>
<table>
<tr><td><b>source name</b></td><td><%= @source.name %></td></tr>
<tr><td><b>datetime</b></td><td><%= @source.datetime %></td></tr>
<tr><td><b>URL</b></td><td><a href="<%= @source.organization_url %>"><%= @source.organization_url %></a></td></tr>
<tr><td><b>feed contact</b></td><td><%= @source.feed_contact.nil? ? '(none)' : link_to(@source.feed_contact.name, @source.feed_contact)%></td></tr>
<tr><td><b>description</b></td><td><%= @source.description %></td></tr>
<tr><td><b>imported at</b></td><td><%=h @source.import_completed_at %></td></tr>

<tr>
<% if @source.organization_url %>
<td><a href="<%= @source.organization_url %>">Distributor Homepage</a></td>
<% else %>
<td></td>
<% end %>
<% if @source.tou_url %>
<td><a href="<%= @source.tou_url %>">Terms of Use</a></td>
<% else %>
<td></td>
<% end %>
</tr>

<tr><td><%= link_to "Precincts", :controller => "precinct", :source => @source.id %></td>
  <td><%= link_to "Localities", :controller => "locality", :source => @source.id %></td>
</tr>
</table>

Elections:
<% if @source.elections.size == 0 %>
(none)
<% else %>
<table>
<%   @source.elections.each do |e| %>
<tr>
  <td><%= link_to e.date, e %></td>
  <td><%= link_to e.type, e %></td>
</tr>
<% end %>
</table>
<% end %>

