<%= link_to @tabulation_area.source.name, @tabulation_area.source %> 
<br/>
<br/>

<b><%= @tabulation_area.name %></b><br/>
<table>
<tr><td><b>type</b></td><td><%= @tabulation_area.type ? @tabulation_area.type : '' %></td></tr>
<tr><td><b>statewide?</b></td><td><%= @tabulation_area.statewide_state ? link_to(@tabulation_area.statewide_state.name, @tabulation_area.statewide_state) : 'no' %></td></tr>
<% @localities.each do |l| %>
<tr><td>locality</td><td><%= link_to l.name, l %></td></tr>
<% end %>
<% @precincts.each do |p| %>
<tr><td>precinct</td><td><%= link_to p.name, p %></td></tr>
<% end %>
<% @precinct_splits.each do |ps| %>
<tr><td>precinct split</td><td><%= link_to ps.name, ps.precinct %></td></tr>
<% end %>
<% @contests.each do |c| %>
<tr><td>contest</td><td><%= link_to(c.office || c.type, c) %></td></tr>
<% end %>
</table>
</br>

