<%= link_to @state.source.name, @state.source %> &gt;&gt; <%= @state.name %>
<br/>
<table>
<tr><td><b>name</b></td><td><%=h @state.name %></td></tr>
<tr><td><b>election administration</b></td><td><%= @state.election_administration.nil? ? '(none)' : link_to (@state.election_administration.name, @state.election_administration) %></td></tr>
</table>
<table>
<% @state.localities.each do |l| %>
	<tr><td><%= link_to l.name, l %></td></tr>
<% end %>
</table>
