<div id="lookup_form">
<% form_tag :action => "lookup" do %>
<table border="0">
<tr>
	<td><%= label_tag "street_num", "Street Number"%></td>
	<td><%= text_field_tag "street_num", @params[:street_num], :size => "10"%></td>
</tr><tr>
	<td><%= label_tag "street", "Street Name"%></td>
	<td><%= text_field_tag "street", @params[:street] %></td>
</tr><tr>
	<td><%= label_tag "city", "City"%></td>
	<td><%= text_field_tag "city", @params[:city]  %></td>
</tr><tr>
	<td><%= label_tag "state", "State"%></td>
	<td><%= select_tag "state", options_for_select(@STATES, @params[:state]) %></td>
</tr>
</table>
<%= submit_tag "Find Polling Place" %>
<% end%>
</div>
<% if !@loc.nil? or !@precinct.nil? then %>
<br/>

<div id="maptable" style="float:left">
<table class="maptable">
	<% if !@loc.nil? %>
	<tr>
		<td class="maptable"><b>Your Address: </b></td>
		<td class="maptable"><%=h @loc.address %></td>
	</tr>
	<% end %>
<% if !@precinct.nil? then %>
	<tr>
		<td><b>Locality (County): </b></td>
		<td> <%= @precinct.locality.name %><br/>
		</td>
	</tr>
	<tr class="maptable"><td><b>Precinct: </b></td>
		<td> Name: <%= @precinct.name %><br/>
		<%= @precinct.ward.nil? ? '' : 'Ward: ' + @precinct.ward + '<br/>' %>
		File ID: <%= @precinct.file_internal_id%><br/>
		ID: <%= @precinct.id %><br/>
		</td>
	</tr>
<% if !@split.nil? then %>
	<tr>
		<td><b>Precinct Split:</b></td>
		<td><%= @split.name %></td>
	</tr>
<% end %>
<% end %>
	<% if !@polling_location.nil? then %>
	<tr>
		<td><b>Polling Location: </b></td>
		<td>
			<%= @polling_location.name.nil?          ? '' : @polling_location.name + '<br/>'%>
			<%= @polling_location.address.nil?       ? '' : @polling_location.address + '<br/>'%>
			<%= @polling_location.directions.nil?    ? '' : @polling_location.directions+ '<br/>' %>
			<%= @polling_location.polling_hours.nil? ? '' : @polling_location.polling_hours+ '<br/>' %>
		</td>
	</tr>
	<% if !@polling_loc_std.nil? %>
	<tr>	
		<td><b>Poll Marker at:</b></td>
		<td>
		<%= @polling_loc_std.address%>
		</td>
	</tr>
	<% end %>
	<% if !@contests.nil? and @contests.size > 0 %>
	<tr><td colspan="2" align="center"><b>Elections<b></td>
	</tr>
		<% @contests.each do |c| %>
		<tr> 
			<td><b><%=h c.election.date %></b></td>
			<td><%= c.type %>, <%= c.office.nil? ? '' : c.office %>
			<% if !c.ballot.nil? and c.ballot.candidates.size > 0 then c.ballot.candidates.each do |cand| %>
				<br/><%= cand.name %>
			<% end %>
			<% end %>
			</td>
		</tr>
		<% end %>
	<% end %>
<% end %>
</table>
</div>
<%=  GMap.header %>
<%=  @map.to_html %>
<%= @map.div(:width => 493, :height => 300) %>
<% end %>

