<div id="lookup_form">
<% form_tag :action => "lookup" do %>
<table border="0">
<tr>
	<td><%= label "form_data", "street_num", "Street Number"%></td>
	<td><%= text_field "form_data", "street_num", :size => "10"%></td>
</tr><tr>
	<td><%= label "form_data", "street", "Street Name"%></td>
	<td><%= text_field "form_data", "street" %></td>
</tr><tr>
	<td><%= label "form_data", "city", "City"%></td>
	<td><%= text_field "form_data", "city" %></td>
</tr><tr>
	<td><%= label "form_data", "state", "State"%></td>
	<td><%= text_field "form_data", "state", :size => "2" %></td>
</tr>
</table>
<%= submit_tag "Find Polling Place" %>
<% end%>
</div>
<% if @loc then %>
<br/>

<div id="maptable" style="float:left">
<table class="maptable">
	<tr>
		<td class="maptable"><b>Your Address: </b></td>
		<td class="maptable"><%=h @loc.address %></td>
	</tr>
<% if !@precinct.nil? then %>
	<tr class="maptable"><td><b>Precinct: </b></td>
		<td> Name: <%= @precinct.name %><br/>
		Ward: <%= @precinct.ward %><br/>
		File ID: <%= @precinct.file_internal_id%><br/>
		ID: <%= @precinct.id %><br/>
		</td>
	</tr>
	<tr>
		<td><b>Locality (County): </b></td>
		<td> <%= @precinct.locality.name %><br/>
		</td>
	</tr>
<% end %>
<% if !@polling_location.nil? then %>
	<tr>
		<td><b>Polling Location: </b></td>
<td><%= @polling_location.name.nil?          ? '' : @polling_location.name + '<br/>'%>
<%= @polling_location.address.nil?       ? '' : @polling_location.address + '<br/>'%>
<%= @polling_location.directions.nil?    ? '' : @polling_location.directions+ '<br/>' %>
<%=h @polling_location.polling_hours.nil? ? '' : @polling_location.polling_hours+ '<br/>' %>
		</td>
	</tr>
	<tr>	
		<td><b>Poll Marker at:</b></td>
		<td>
<%= @polling_loc_std.nil?          ? '' : @polling_loc_std.address + '<br/>'%>
		</td>
	</tr>
<% end %>
</table>
</div>
<%=  GMap.header %>
<%=  @map.to_html %>
<%= @map.div(:width => 493, :height => 300) %>
<% end %>

