<%= link_to @election.source.name, @election.source %> &gt;&gt; <%= @election.date %> Election
<br/>
<table>
<tr><td><b>date</b></td><td><%=h @election.date %></td></tr>
<tr><td><b>type</b></td><td><%=h @election.type ? @election.type : '' %></td></tr>
<tr><td><b>state</b></td><td><%= link_to @election.state.name, @election.state %></td></tr>
<tr><td><b>statewide</b></td><td><%=h @election.statewide %></td></tr>
<tr><td><b>registration info</b></td><td><%=h @election.registration_info ? @election.registration_info : '' %></td></tr>
<tr><td><b>absentee ballot info</b></td><td><%=h @election.absentee_ballot_info ? @election.absentee_ballot_info: '' %></td></tr>
<tr><td><b>results</b></td><td><%= @election.results_url ? '<a href="'+@election.results_url+'">'+@election.results_url+'</a>' : '' %></td></tr>
<tr><td><b>polling hours</b></td><td><%=h @election.polling_hours ? @election.polling_hours: '' %></td></tr>
</table>

<% if @election.contests.size > 0 %>
<br/>
<b>Contests</b>
<table>
<%   @election.contests.each do |c| %>
       <tr>
	  <td><%= link_to c.tabulation_area.name, c.tabulation_area %></td>
	  <td><%= c.type %></td>
	  <td><%= c.partisan %></td>
	  <td><%= c.office ? c.office : '' %></td>
	  <td><%= link_to "details", c %></td>
<%   end %>
</table>
<% end %>
<% if @election.campaign_issues.size > 0 %>
<br/>
<b>Issues</b>
<table>
<%   @election.campaign_issues.each do |i| %>
       <tr>
	  <td><%= link_to i.name, i %></td>
          <td><%= i.category ? i.category : '' %></td>
	  <td><%= i.description ? i.description[0,50] + '...' : '' %></td>
       </tr>
<%   end %>
</table>
<% end %>
