<%= link_to @candidate.source.name, @candidate.source %> &gt;&gt; <%= link_to @candidate.ballots.first.contests.first.election.date.to_s + " Election", @candidate.ballots.first.contests.first.election %> &gt;&gt; <%= link_to @candidate.ballots.first.contests.first.office, @candidate.ballots.first.contests.first %>
<br/>
<br/>

<%= @candidate.name %>
<% if @candidate.photo_url %>
  <img src="<%= @candidate.photo_url %>">
<% end %>

<table>
<tr><td><b>party</b></td><td><%=h @candidate.party ? @candidate.party : '' %></td></tr>
<tr><td><b>webpage</b></td><td><%=h @candidate.candidate_url ? @candidate.candidate_url : '' %></td></tr>
<tr><td><b>bio</b></td><td><%=h @candidate.biography ? @candidate.biography : '' %></td></tr>
<tr><td><b>phone</b></td><td><%=h @candidate.phone ? @candidate.phone : '' %></td></tr>
<tr><td><b>mailing address</b></td><td><%=h @candidate.filed_mailing_address ? @candidate.filed_mailing_address : '' %></td></tr>
<tr><td><b>email address</b></td><td><%=h @candidate.email_address ? @candidate.email_address : '' %></td></tr>
</table>

<% if @candidate.candidate_statements.size > 0 %>
<br/>
Issues
<table>
<% @candidates.candidate_statements.each do |cs| %>
	<tr>
           <td><%= link_to cs.campaign_issue.name, cs.campaign_issue %></td>
	   <td><%= cs.date ? cs.date : '' %></td>
	   <td><%= cs.statement %></td>
	</tr>
<% end %>
</table>
<% end %>
